@model VehicleRegisterApplication.Models.Truck

@{
    ViewData["Title"] = "CreateTruck";
}

<h1>CreateTruck</h1>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTruck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vehicleBrand" class="control-label"></label>
                <input asp-for="vehicleBrand" class="form-control" />
                <span asp-validation-for="vehicleBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicleModel" class="control-label"></label>
                <input asp-for="vehicleModel" class="form-control" />
                <span asp-validation-for="vehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lisencePlateNumber" class="control-label"></label>
                <input asp-for="lisencePlateNumber" class="form-control" />
                <span asp-validation-for="lisencePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numOfWheels" class="control-label"></label>
                <input asp-for="numOfWheels" class="form-control" />
                <span asp-validation-for="numOfWheels" class="text-danger"></span>
            </div>
            <div class="form-select">
                <label asp-for="truckType" class="control-label"></label>
                <select asp-for="cargoCapacity"
                        asp-items="Html.GetEnumSelectList<TruckType>()">
                </select>
                <span asp-validation-for="truckType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargoCapacity" class="control-label"></label>
                <input asp-for="cargoCapacity" class="form-control" />
                <span asp-validation-for="cargoCapacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
