@{
    ViewData["Title"] = "Vehicle Home page";
    var carImage = @"\Images\Car.png";
    var truckImage = @"\Images\Truck.png";
    var motorcycleImage = @"\Images\Motorcycle.png";
}

<h1>Welcome to Vehicle landing page</h1>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <button asp-controller="Vehicle" asp-action="Cars">View cars
                <img src="@carImage" />
            </button>
        </form>
    </div>
        <div class="col-md-4">
        <form method="get">
            <button asp-controller="Vehicle"  asp-action="Motorcycles">View motorcycles  
                <img src=@motorcycleImage />
            </button>
        </form>
    </div>
    <div class="col-md-4">
        <form method="get">
            <button asp-controller="Vehicle" asp-action="Trucks">View trucks
                <img src=@truckImage />
            </button>
        </form>
    </div>
</div>

