@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VGA!</h1>
</div>

<div class="w-25">
    <h2>What is VGA?</h2>
    <p>VGA stands for vehicle registeration application. This is a project created by me for learning to use .Net framework. Users can create and view vehicles in this application. </p>
</div>

<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <h1>@Html.ActionLink("View vehicles", "Index", "Vehicle")</h1>
            </td>

        </tr>
        <tr>
            <td>
                @Html.ActionLink("View vehicle owners", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Button that does literally nothing", "Delete")
            </td>
        </tr>
    </tbody>
</table>
